@page "/NotasCompra/Form"

@using System.ComponentModel.DataAnnotations
@using ProSoft.Data
@using ProSoft.Components
@using Microsoft.EntityFrameworkCore

<EditForm id="formId" EditContext="@editContext" OnValidSubmit="Submit">

    <PageHeader Title="Compras" Description="Nota Fiscal de Compras" DropdownClick="DropdownClick">
        <DropdownItems>
            <RadzenSplitButtonItem Value="1" Text="Salvar"></RadzenSplitButtonItem>
            <RadzenSplitButtonItem Value="2" Text="Nova compra"></RadzenSplitButtonItem>
        </DropdownItems>
    </PageHeader>

    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="row mb-3">
        <label class="col-3">
            Id
            <input type="text" value="@Model?.IdNotaCompra.ToString("000000")" class="form-control" disabled="disabled" />
        </label>
        <label class="col-3">
            Número da NF
            <InputText class="form-control" @bind-Value=Model!.NumeroNF></InputText>
        </label>
        <label class="col-3">
            Data
            <InputDate @bind-Value="Model!.Data" class="form-control" ></InputDate>
        </label>
    </div>

    <div class="row">

        <label class="col-6">
            Fornecedor
            <RadzenDropDown AllowClear="true" class="form-control" @bind-Value=Model.Fornecedor_IdFornecedor AllowVirtualization="true"
                    AllowFiltering="true" Data=ctx.fornecedores.ToArray() TextProperty="Nome" ValueProperty="IdFornecedor" Change='()=>ctx.Entry(Model).Navigation("Fornecedor").Load()' />
        </label>
        <label class="col-6">
            Xml
            <InputText @bind-Value="Model!.Xml" class="form-control"></InputText>
        </label>
    </div>

    <table class="table mt-2">
        <thead>
            <tr>
                <th>Qt.</th>
                <th>Un</th>
                <th>Descrição</th>
                <th>P. Custo</th>
                <th>Total</th>
                <th>P. Venda</th>
                <th width="1%"><button type="button" class="btn btn-link btn-sm d-print-none" @onclick="()=>AddRow()"><i class="oi oi-plus"></i></button></th>
            </tr>
        </thead>
        <tbody>
        @foreach(compra c in Model.Items)
        {
            <tr>
            <Row GetMercadorias="()=>ctx.mercadorias.ToArray()" 
                Model="c" OnDelete="(c)=>{rowToDelete=c;StateHasChanged();}" MercadoriaChanged='()=>MercadoriaChanged(c)' TotalChanged="()=>StateHasChanged()" />
            </tr>
        }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" class="text-end">Total</td>
                <td><RadzenNumeric Format="N2" TextAlign="TextAlign.End" Value="Model.Total" Disabled=true ShowUpDown=false /></td>
            </tr>
        </tfoot>
    </table>

</EditForm>

@if (rowToDelete != null)
{
    <ModalConfirm Title="Excluir" Message="Confirma exclusão da linha?" OnClose="DeleteRow"></ModalConfirm>
}

@code {
    [Parameter] public long idNotaCompra{ get; set; }
    [Inject] public NotificationService notificationService {get;set;} = default!;

    notacompra Model = new();
    Contexto ctx = new();

    void AddRow()
    {
        compra c = new();
        Model.Items.Add(c);
        StateHasChanged();
    }

    void CalcTotal()
    {
            StateHasChanged();
            return;

        @* float tot = 0;
        if (Model == null)
            return;
            
         tot = Model.Items.Sum(k => (k.Quantidade * k.Custo));
        if (tot != _total)
        {
            _total = tot;
            StateHasChanged();
        } *@
    }

    void Submit()
    {
        if (Model!.IdNotaCompra == 0)
            ctx.Entry(Model).State = EntityState.Added;
        else
            ctx.Entry(Model).State = EntityState.Modified;

        ctx.SaveChanges();

        Model = ctx.notascompra.First(k=>k.IdNotaCompra == Model.IdNotaCompra);

        notificationService.Notify(NotificationSeverity.Success, "Venda", "Todos os dados da Venda foram salvos  com sucesso");

        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        Model = ctx.notascompra.Include(k => k.Fornecedor).Include(k => k.Items).ThenInclude(k => k.Mercadoria).FirstOrDefault(k => k.IdNotaCompra == idNotaCompra) ?? new();

        if (Model.IdNotaCompra == 0)
            ctx.Entry(Model).State = EntityState.Added;

        if (Model.Items.Count == 0)
            AddRow();

        CalcTotal();

        editContext = new EditContext(Model);

        base.OnInitialized();
    }

    compra? rowToDelete;
    void DeleteRow(bool confirm)
    {
        if (confirm)
        {
            Model!.Items.Remove(rowToDelete);
        }
        rowToDelete = null;
        StateHasChanged();
    }

    void MercadoriaChanged(compra c) {
        c.Mercadoria = ctx.Find<mercadoria>(c.Mercadoria_IdMercadoria);
    }

    EditContext editContext = default!;
    void DropdownClick(string value) {
        switch (value) {
            case "1": {
                editContext.Validate();
                break;
            }
            case "2": {
                AddRow();
                break;
            }
        }
    }
}
