@page "/NotasCompra/Index"
@using ProSoft.Data
@using Microsoft.EntityFrameworkCore
@using ProSoft.Components

<GenericTemplate3 TItem=notacompra Contexto="ctx" HeaderTitle="Notas de Compra" Items="ctx.notascompra.Include(k=>k.Fornecedor).Include(k=>k.Items).ThenInclude(k=>k.Mercadoria)" ModalSize="modal-xl">
    <GridHeaderTemplate>
        <td>Id</td>
        <td>Nome</td>
    </GridHeaderTemplate>
    <GridRowTemplate Context="p">
        <td>@p.IdNotaCompra.ToString("000000")</td>
        <td>@p.Fornecedor.Nome</td>
    </GridRowTemplate>
    <ItemEditForm Context="item">
        <Form Model="item" Contexto="ctx" />
    </ItemEditForm>
</GenericTemplate3>

@code {
    Contexto ctx = new Contexto();
}
