@namespace ProSoft.Components 

<style>
    .rz-button.rz-link {
        background: none !important;
    }

    .rz-button.rz-link .rz-button-text {
        color: var(--rz-link-color);
    }

    .rz-button.rz-link:hover .rz-button-text {
        text-decoration: underline !important;
    }
 </style>

@if (Visible)
{
    <div class="modal d-block" tabindex="-1">
        <div class="modal-dialog @Size">
            <div class="modal-content @Size">
                <div class="modal-header d-print-none">
                    <h5 class="modal-title">@Title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick='()=>Hide()' ></button>
                </div>
                <div class="modal-body">
                    @ModalBody
                </div>
                <div class="modal-footer d-print-none">
                    @if (!HideCloseButton)
                    {
                        <RadzenButton Variant=Radzen.Variant.Text Text="Fechar" Click="()=>Hide()" class="me-4" />
                    }
                    @ModalFooter
                </div>
            </div>
        </div>
    </div>

    <div class="modal-backdrop fade show"></div>
}

@code {
    [Parameter] public string Size { get; set; } = "";
    [Parameter] public string Title { get; set; } = "Modal";
    [Parameter] public RenderFragment? ModalBody { get; set; }
    [Parameter] public RenderFragment? ModalFooter { get; set; }
    [Parameter] public bool HideCloseButton { get; set; } = false;

    [Parameter] public bool Visible { get; set; } = false;
    [Parameter] public EventCallback<bool> VisibleChanged { get; set; }

    public void Hide()
    {
        Visible = false;
        VisibleChanged.InvokeAsync(false);
    }
}