@namespace ProSoft.Components

<PageTitle>@Title</PageTitle>

<RadzenRow JustifyContent="Radzen.JustifyContent.Normal">
    <RadzenColumn>
        <h1>@Title</h1>
    </RadzenColumn>
    <RadzenColumn>
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="3px">
        @if (BarItems != null) {
            @BarItems
        }
        </RadzenStack>
    </RadzenColumn>
</RadzenRow>

@if (Description != null)
{
    <p>@Description</p>
}

@ChildContent

@code {
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public string? Description { get; set; } = null;
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public RenderFragment? BarItems { get; set; }
}
