@namespace ProSoft.Components

<PageTitle>@Title</PageTitle>

<FluentGrid>
    <FluentGridItem>
        <h1>@Title</h1>
    </FluentGridItem>
    <FluentGridItem>
        <FluentStack HorizontalAlignment="HorizontalAlignment.End" HorizontalGap="3">
            @if (BarItems != null)
            {
                @BarItems
            }
        </FluentStack>
    </FluentGridItem>
</FluentGrid>

@if (Description != null)
{
    <p>@Description</p>
}

@ChildContent

@code {
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public string? Description { get; set; } = null;
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public RenderFragment? BarItems { get; set; }
}
