
.toastContainer_ps {
/*    display: none;
*/    padding: 0.5rem;
    color: #fff;
    z-index: 2000;
    position: absolute;
    width: 25rem;
    top: 50px;
    left: 50%;
}

.toast_ps {
    padding: 0.5rem;
    margin: 5px;
    color: #fff;
    width: 100%;
    border-radius: 1rem;
}

/*.toast_ps {
    display: none;
    padding: 0.5rem;
    color: #fff;
    z-index: 1;
    position: absolute;
    width: 25rem;
    top: 50px;
    border-radius: 1rem;
    left: 50%;
}*/

.toast_ps-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
    font-size: 2.5rem;
}

.toast_ps-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 1rem;
}

    .toast_ps-body p {
        margin-bottom: 0;
    }

.toast_ps-visible {
    display: flex;
    flex-direction: row;
    animation-name: anim_in;
    animation-duration: 3s;
    top: 0;
    position: relative;
}

@keyframes anim_in {
    0% {
        opacity: 0;
        top: -80px;
    }
    20% {
        opacity: 1;
        top: 0px;
    }
    90% {
        opacity: 1;
        top: 0px;
    }
    100% {
        opacity: 0;
        top: 0px;
    }
}
