@using ProSoft.Data
@using ProSoft.Components

@namespace ProSoft.Pages 

@typeparam TItem where TItem : class, new()

@if (HeaderTitle != null) {
    <PageHeader Title="@HeaderTitle" Description=@HeaderDescription>
        <BarItems>
        @if (HeaderBarItems != null) {
            @HeaderBarItems
        }
        </BarItems>
    </PageHeader>
}

@if (Items is null)
{
    <p>Nothing to show!</p>
} else {
    <table class="table table-hover w-100">
        <thead>
            <tr>@TableHeader
            <td style="width: 1%;"><RadzenButton Icon=add Variant=Variant.Text Click="()=>askEdit=new()"/></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Items)
            {
                <tr @onclick="()=>Edit(item)" style="cursor:pointer">@RowTemplate?.Invoke(item)
                    <td><RadzenButton Icon="delete" Variant="Variant.Text" ButtonStyle="ButtonStyle.Danger" Click="()=>askDelete=item" /></td>
                </tr>
            }
        </tbody>
        <tfoot>
            @TableFooter
        </tfoot>
    </table>
}

@if (askEdit != null && ItemEditForm != null)
{
    <ModalDialog Title="Editar" Size="modal-fullscreen" OnCancel="()=>askEdit=null">
        <ModalBody>
            <RadzenTemplateForm Data="askEdit" id="editForm" TItem="TItem" Submit="Submit" >
            @ItemEditForm?.Invoke(askEdit)
            </RadzenTemplateForm>
        </ModalBody>
        <ModalFooter>
            <RadzenButton Icon=save Text="Salvar" ButtonType=Radzen.ButtonType.Submit Form="editForm" />
            <RadzenButton Icon=delete Text="Excluir" Click="()=>askDelete=askEdit" ButtonStyle=ButtonStyle.Danger />
        </ModalFooter>
    </ModalDialog>
}

@if (askDelete != null) {
    <ModalConfirm Message="Confirma exclusão?" Title=Excluir OnClose=OnConfirmClose />
}

@code {
    [Parameter] public RenderFragment? TableHeader { get; set; }
    [Parameter] public RenderFragment<TItem>? RowTemplate { get; set; }
    [Parameter] public RenderFragment? TableFooter { get; set; }
    [Parameter] public IEnumerable<TItem>? Items { get; set; }
    [Parameter] public string? HeaderTitle {get;set;} = null;
    [Parameter] public string? HeaderDescription {get;set;} = null;
    [Parameter] public RenderFragment? HeaderBarItems {get;set;} = null;
    [Parameter] public RenderFragment<TItem>? ItemEditForm {get;set;} = null;
    [Parameter] public Action<TItem>? ItemEditClick {get;set;} = null;
    [Parameter] public Action<TItem>? OnDelete {get;set;} = null;
    [Parameter, EditorRequired] public Contexto Contexto { get; set; } = default!;

    [Inject] NotificationService notService { get; set; } = default!;

    TItem? askEdit = null;
    TItem? askDelete = null;

    void Edit(TItem item) {
        if (ItemEditForm != null)
            askEdit = item;
        if (ItemEditClick != null)
            ItemEditClick(item);
    }

    void OnConfirmClose(bool confirmation) {
        if (confirmation) {
            try {
                OnDelete?.Invoke(askDelete!);
                notService.Notify(NotificationSeverity.Success, "ProSoft", "Item excluído com sucesso!");
            } catch {
                notService.Notify(NotificationSeverity.Error, "ProSoft", "Erro excluindo ítem!");
            }
            askEdit = null;
        }
        askDelete = null;
        StateHasChanged();
    }

    void Submit(TItem item)
    {
        if (Contexto.Entry(item).State == EntityState.Detached)
            Contexto.Add(item);

        Contexto.SaveChanges();

        notService.Notify(NotificationSeverity.Success, "ProSoft", "Item salvo com sucesso!");
    }
}
