@page "/"
@using ProSoft.Data
@using BlazorBootstrap



<h3>Demo Toast</h3>


@* <div class="container-fluid">
    <ImageUpload BasePath="/content/"></ImageUpload>
</div> *@


@code {

    protected override void OnInitialized()
    {

        base.OnInitialized();
    }
}
