@page "/"
@using ProSoft.Data
@using BlazorBootstrap



<h3>Demo Toast</h3>

<FluentTextField InputMode="InputMode.Decimal" @bind-Value="teste" Label="Teste" ></FluentTextField>

@* <div class="container-fluid">
    <ImageUpload BasePath="/content/"></ImageUpload>
</div> *@


@code {
    string teste = "0";

    protected override void OnInitialized()
    {

        base.OnInitialized();
    }
}
