@inherits LayoutComponentBase

<RadzenComponents />

<NavMenu />

<div class="container">
    @Body
</div>

<!-- Colocar em um lugar mais no final da página para aparecer sobre os outros componentes -->
<RadzenDialog></RadzenDialog>

<FluentDesignSystemProvider />
<FluentDialogProvider />
<FluentTooltipProvider />