@inherits LayoutComponentBase

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Radzen.Orientation.Horizontal" AlignItems="Radzen.AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
            <RadzenLabel Text="ProSoft Informática" />
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar Responsive="false" Style="width: max-content">
        <RadzenPanelMenu DisplayStyle="@(sidebarExpanded ? Radzen.MenuItemDisplayStyle.IconAndText : Radzen.MenuItemDisplayStyle.Icon)" ShowArrow="false">
            <RadzenPanelMenuItem Text="Estoque" Icon="inventory">
                <RadzenPanelMenuItem Path="/Mercadorias" Text="Mercadorias" Icon="widgets" />
                <RadzenPanelMenuItem Path="/NotasCompra/Index" Text="Notas de Compra" Icon="add_shopping_cart" />
                <RadzenPanelMenuItem Path="/NotasVenda/Index" Text="Notas de Venda" Icon="shopping_cart_checkout" />
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Serviços" Icon="dashboard" >
                <RadzenPanelMenuItem Path="/OrdemServico/Orcamentos" Text="Orçamentos" Icon="request_quote" />
                <RadzenPanelMenuItem Path="/OrdemServico/Index" Text="Ordens de Serviço" Icon="handyman" />
                <RadzenPanelMenuItem Path="/Cadastros/Equipamentos" Text="Equipamentos" Icon="computer" />
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Financeiro" Icon="paid">
                <RadzenPanelMenuItem Path="/Mercadorias" Text="Caixa" Icon="request_quote" />
                <RadzenPanelMenuItem Path="/NotasCompra/Index" Text="Contas a Pagar" Icon="local_atm" />
                <RadzenPanelMenuItem Path="/NotasVenda/Index" Text="Contas a Receber" Icon="local_atm" />
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Cadastros" Icon="archive">
                <RadzenPanelMenuItem Path="/Clientes" Text="Clientes" Icon="group" />
                <RadzenPanelMenuItem Path="/Cadastros/Fornecedores" Text="Fornecedores" Icon="pallet" />
                <RadzenPanelMenuItem Path="/Cadastros/Funcionarios" Text="Runcionários" Icon="badge" />
            </RadzenPanelMenuItem>
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>
        Footer
    </RadzenFooter>
</RadzenLayout>

<RadzenComponents />

@code {
    bool sidebarExpanded = true;
}