@using ProSoft.Components
@using BlazorBootstrap


<div class="rz-p-12">
    <RadzenMenu>
        <RadzenMenuItem Text="Estoque" Icon="Estoque">
            <RadzenMenuItem Text="Mercadorias" Path="/Mercadorias" Icon="account_circle"></RadzenMenuItem>
            <RadzenMenuItem Text="Notas de Compra" Path="/NotasCompra/Index" Icon="line_weight"></RadzenMenuItem>
            <RadzenMenuItem Text="Notas de Venda" Icon="attach_file" Path="/NotasVenda/Index"></RadzenMenuItem>
        </RadzenMenuItem>
        <RadzenMenuItem Text="Serviços" Icon="payment">
            <RadzenMenuItem Text="Orçamento" Path="/OrdemServico/Orcamentos" Icon="check_circle"></RadzenMenuItem>
            <RadzenMenuItem Text="Ordens de Serviço" Path="/OrdemServico/Index" Icon="input"></RadzenMenuItem>
            <RadzenMenuItem Text="Equipamentos" Path="/Cadastros/Equipamentos" Icon="input"></RadzenMenuItem>
        </RadzenMenuItem>
        <RadzenMenuItem Text="Financeiro" Icon="save">
            <RadzenMenuItem Text="Caixa" Path="datagrid" Icon="grid_on"></RadzenMenuItem>
            <RadzenMenuItem Text="Contas a Pagar" Path="datalist" Icon="list"></RadzenMenuItem>
            <RadzenMenuItem Text="Contas a Receber" Path="dropdown" Icon="dns"></RadzenMenuItem>
        </RadzenMenuItem>
        <RadzenMenuItem Text="Cadastros" Icon="account_box">
            <RadzenMenuItem Text="Clientes" Path="/Clientes" Icon="tab"></RadzenMenuItem>
            <RadzenMenuItem Text="Fornecedores" Path="/Cadastros/Fornecedores" Icon="content_paste"></RadzenMenuItem>
            <RadzenMenuItem Text="Funcionários" Path="/Cadastros/Funcionarios" Icon="account_balance_wallet"></RadzenMenuItem>
        </RadzenMenuItem>
    </RadzenMenu>
</div>

@code {

}
