@using ProSoft.Components

<PageTitle>@Title</PageTitle>

<RadzenRow>
    <RadzenColumn Size="11">
        <h1>@Title</h1>
    </RadzenColumn>
    <RadzenColumn Size="1">

        @if (DropdownItems != null) {
            <RadzenSplitButton Icon="Menu" Click="(v)=>DropdownClick?.Invoke(v.Value)">
                <ChildContent>
                    @DropdownItems
                </ChildContent>
            </RadzenSplitButton>
        }

    </RadzenColumn>
</RadzenRow>

@if (Description != null)
{
    <p>@Description</p>
}

@ChildContent

@code {
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public string? Description { get; set; } = null;
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public RenderFragment? DropdownItems { get; set; }
    [Parameter] public Action<string>? DropdownClick { get; set; }
}
