@page "/Cadastros/Equipamento"
@using System.ComponentModel.DataAnnotations
@using ProSoft.Data
@using ProSoft.Components
@using ProSoft.Pages.Cadastros


<DataAnnotationsValidator />

<div class="container">
    <RadzenFormField Text="Id do Equipamento">
        <RadzenNumeric Format="000000" TextAlign="Radzen.TextAlign.Center" Value="Model.IdEquipamento" Disabled=true />
    </RadzenFormField>
    <RadzenFormField Text="Id do Equipamento">
        <RadzenDropDown @bind-Value=Model.Cliente Data="ctx.clientes" TextProperty="Nome" />
    </RadzenFormField>
    <RadzenFormField Text="Descrição">
        <RadzenTextArea Rows="5" @bind-Value=Model.Descricao />
    </RadzenFormField>
</div>

 @code {
    [Parameter] public equipamento Model { get; set; } = new();
    [Parameter, EditorRequired] public Contexto ctx {get;set;} = default!;
}