@page "/Cadastros/Equipamentos"
@using ProSoft.Data
@using ProSoft.Services
@using ProSoft.Components
@using ProSoft.Pages

<GenericTemplate3 TItem=equipamento Contexto="ctx" HeaderTitle="Equipamentos" Items="ctx.equipamentos.Include(k=>k.Cliente)" ModalSize="modal-lg">
    <GridHeaderTemplate>
        <td>Id</td><td>Descrição</td><td>Cliente</td>
    </GridHeaderTemplate>
    <GridRowTemplate Context="p">
        <td>@p.IdEquipamento.ToString("000000")'</td>
        <td>@p.Descricao</td>
        <td>@p.Cliente.Nome</td>
    </GridRowTemplate>
    <ItemEditForm Context="item">
        <Equipamento Model="item" ctx="ctx" />
    </ItemEditForm>
</GenericTemplate3>

@code {
    Contexto? ctx = new();
}