@page "/Cadastros/Funcionarios"
@using ProSoft.Data
@using ProSoft.Services
@using ProSoft.Components
@using ProSoft.Pages

<GenericTemplate3 TItem=funcionario Contexto="ctx" HeaderTitle="Funcionários" Items="ctx.funcionarios.OrderBy(k=>k.Nome)" ModalSize="modal-lg">
    <GridHeaderTemplate>
        <td>Id</td><td>Nome</td>
    </GridHeaderTemplate>
    <GridRowTemplate Context="p">
        <td>@p.IdFuncionario.ToString("000000")'</td>
        <td>@p.Nome</td>
    </GridRowTemplate>
    <ItemEditForm Context="item">
        <ProSoft.Pages.Cadastros.Funcionario Model="item" />
    </ItemEditForm>
</GenericTemplate3>

@code {
    Contexto ctx = new();
}