@page "/OrdemServico/Index"
@using ProSoft.Data
@using Microsoft.EntityFrameworkCore
@using ProSoft.Components

<GenericTemplate3 TItem=ordemdeservico Contexto="ctx" HeaderTitle="Ordens de Serviço" Items="ctx.ordensdeservico" ModalSize="modal-xl">
    <GridHeaderTemplate>
        <td>Id</td><td>Nome</td>
    </GridHeaderTemplate>
    <GridRowTemplate Context="p">
        <td>@p.IdOrdemDeServico.ToString("000000")'</td>
        <td>@p.Orcamentos.FirstOrDefault()?.Cliente?.Nome</td>
    </GridRowTemplate>
    <ItemEditForm Context="item">
        <OS Model="item" Contexto="ctx" />
    </ItemEditForm>
</GenericTemplate3>

@code {
    Contexto ctx = new();
}
