@page "/OrdemServico/OrcamentoItem"

@using ProSoft.Data
@using Microsoft.EntityFrameworkCore

<td width="10%"><FluentNumberField @bind-Value="Model.Compra" /></td>
<td width="10%"><FluentTextField Value="@Model.Compra?.Mercadoria?.Unidade" Disabled=true /></td>

<td><FluentCombobox @bind-SelectedOption="Model.Compra" Items="Contexto.compras" OptionText="e=>e.Descricao" /></td>


<td>
    @* <InputSelect2
        TItem="compra"
        Value="Model.Compra_IdCompra"
        FormId="formId"
        ValueProperty="(i)=>i.IdCompra"
        OnNeedItems="OnNeedCompras"
        OnSelectionChanged="(i)=>{Model.Compra=i;StateHasChanged();}"
    >
        <OnEditRenderFragment Context="cp">
            <ProSoft.Pages.NotasCompra.Form idNotaCompra="@cp.NotaCompra_IdNotaCompra"></ProSoft.Pages.NotasCompra.Form>
        </OnEditRenderFragment>
    </InputSelect2> *@
   

    <FluentCombobox @bind-SelectedOption=Model.Compra Items=OnNeedCompras?.Invoke() OptionText="i=>i.Descricao" />

</td>

<td width="10%"><FluentTextField Value="@Model.Compra?.Venda.ToString("N2")" Disabled=true /></td>
<td width="10%"><FluentNumberField @bind-Value="Model!.Desconto" ></FluentNumberField></td>
<td width="10%"><FluentTextField Value='_total.ToString("N2")' Disabled=true /></td>

@code {
    [Parameter] public itemdoorcamento Model { get; set; } = new();
    [Parameter] public Action<float>? TotalChanged { get; set; } = null;
    [Parameter] public Func<compra[]>? OnNeedCompras { get; set; } = null;
    [Parameter] public Contexto Contexto {get;set;} = default!;

    float _total = 0;

    void CompraChanged(object args) {

        Model.Compra = Contexto.compras.Find(Model.Compra_IdCompra) ?? new();
    }
}