@page "/OrdemServico/OrcamentoItem"

@using ProSoft.Data
@using Microsoft.EntityFrameworkCore

<td width="10%"><RadzenNumeric Format="000000" Value="Model.Quantidade" /></td>
<td width="10%"><RadzenTextBox Value="@Model.Compra?.Mercadoria?.Unidade" Disabled=true /></td>
<td><RadzenDropDown @bind-Value="Model.Compra" Data="Contexto.compras" TextProperty="Descricao" /></td>
<td width="10%"><RadzenNumeric Format="N2" Value="@Model.Compra?.Venda" Disabled=true /></td>
<td width="10%"><RadzenNumeric Format="N2" @bind-Value="Model!.Desconto" ></RadzenNumeric></td>
<td width="10%"><RadzenNumeric Format="N2" Value='_total.ToString("N2")' Disabled=true /></td>

@code {
    [Parameter] public itemdoorcamento Model { get; set; } = new();
    [Parameter] public Action<float>? TotalChanged { get; set; } = null;
    [Parameter] public Func<compra[]>? OnNeedCompras { get; set; } = null;
    [Parameter] public Contexto Contexto {get;set;} = default!;

    float _total = 0;

    void CompraChanged(object args) {

        Model.Compra = Contexto.compras.Find(Model.Compra_IdCompra) ?? new();
    }
}