@page "/OrdemServico/{idOrdemDeServico:long}"
@using System.ComponentModel.DataAnnotations
@using ProSoft.Data
@using ProSoft.Components
@using Microsoft.EntityFrameworkCore
@using BlazorBootstrap

<CascadingValue Name="ctx" Value="ctx">
    <EditForm Model="Model" OnSubmit="ValidSubmit" id="editForm">

        <DataAnnotationsValidator />
        <ValidationSummary Model="Model" />

        <RadzenRow>
            <RadzenColumn Size="2" class="w-100">
                <RadzenFormField Text="Id" >
                    <RadzenNumeric Format="000000" ShowUpDown=false Disabled=true Value="@Model.IdOrdemDeServico" TextAlign="Radzen.TextAlign.Center" />
                </RadzenFormField>
            </RadzenColumn>
            <RadzenColumn Size="3">
                <RadzenFormField Text="Data">
                    <RadzenDatePicker @bind-Value=Model.Data />
                </RadzenFormField>
            </RadzenColumn>
            <RadzenColumn Size=3>
                <RadzenFormField Text=Equipamento class="w-100">
                    <RadzenDropDown @bind-Value="Model.Equipamento_IdEquipamento" AllowClear=true AllowFiltering=true AllowVirtualization=true TValue="long" Data="ctx.equipamentos" TextProperty="Descricao" ValueProperty="IdEquipamento" Change="EquipamentoChanged" ClearSearchAfterSelection="true" />
                </RadzenFormField>
            </RadzenColumn>
        </RadzenRow>

        <RadzenFormField Text="Defeito apresentado" class="w-100 mt-2 mb-2">
            <RadzenTextArea @bind-Value="@Model.DefeitoApresentado" Rows="3" />
        </RadzenFormField>

        <div class="row my-1">
            @* <FloatingLabel InputId="IdNotaVenda" Text="Id da Nota" Columns="2">
                <input type="text" value="@Model.IdNotaVenda.ToString("000000")" class="form-control" disabled="disabled" />
            </FloatingLabel>
            <FloatingLabel InputId="Data" Text="Data" Columns="2">
                <InputDate @bind-Value="Model!.Data" class="form-control"></InputDate>
            </FloatingLabel> *@
            @* <FloatingLabel InputId="Cliente_IdCliente" Class="d-flex" Text="Cliente" Columns="4">
                <InputSelect2 
                    Context="Model" 
                    FormId="formCli" 
                    ValueProperty="(c)=>c.idCliente"
                    TItem="cliente" 
                    Value="@Model.Cliente?.idCliente" 
                    OnNeedItems="()=>ctx.clientes.ToArray()"
                    OnEdit="(c)=>{editCliente=c;StateHasChanged();}"
                    OnSelectionChanged="(i)=>Model.Cliente=i"
                >
                </InputSelect2>
            </FloatingLabel> *@
        </div>

        <GenericTemplate Items="Model.Orcamentos" TItem="orcamento">
            <TableHeader>
                <th>Quant</th>
                <th>Un</th>
                <th>Descrição</th>
                <th>P. Venda</th>
                <th>Desconto</th>
                <th>Total</th>
                <th>
                    <button type="button" class="btn btn-link" @onclick="AddOrca"><i class="oi oi-plus"></i></button>
                </th>
            </TableHeader>
            <RowTemplate Context="itemsCtx">
                <Venda_row Model="itemsCtx" OnAskDelete="AskDeleteRow" 
                    OnNeedCompras="()=>ctx.compras.Include(k=>k.Mercadoria).OrderBy(k=>k.Mercadoria.Descricao).ToArray()"></Venda_row>
            </RowTemplate>
            <TableFooter>
                <tr>
                    <td colspan="5" class="text-end">Total</td>
                    <td></td>
                </tr>
            </TableFooter>
        </GenericTemplate>

        <GenericTemplate Items="Model.Orcamentos" TItem="orcamento">
            <TableHeader>
                <th>Vencimento</th>
                <th>Valor</th>
                <th><button type="button" class="btn btn-link" @onclick="AddOrca"><i class="oi oi-plus"></i></button></th>
            </TableHeader>
            <RowTemplate Context="parc">
                <Parcela Model="parc" OnDelete="DeleteParcela" OnTotalChanged="()=>StateHasChanged()"></Parcela>
            </RowTemplate>
            <TableFooter>
                <tr>
                    <td class="text-end">Total</td>
                    <td></td>
                </tr>
            </TableFooter>
        </GenericTemplate>

    </EditForm>
</CascadingValue>

<!-- Colocar em um lugar mais no final da página para aparecer sobre os outros componentes -->
<RadzenDialog></RadzenDialog>

@code {
    private ordemdeservico Model = new();
    [Parameter] public long idOrdemDeServico { get; set; } = 0;

    private Contexto ctx = new();

    protected override void OnInitialized() {
        if (idOrdemDeServico>0) {
            Model = ctx.ordensdeservico.First(k=>k.IdOrdemDeServico == idOrdemDeServico);
            if (Model == null)
                Model = new ordemdeservico();
            if (Model.Orcamentos.Count == 0)
                AddOrca();
        }
    }

    void ValidSubmit()
    {
        if (Model.IdOrdemDeServico == 0)
            ctx.Entry(Model).State = EntityState.Added;
        else
            ctx.Entry(Model).State = EntityState.Modified;

        ctx.SaveChanges();

        StateHasChanged();
    }

    void AddOrca()
    {
        orcamento orca = new orcamento();
        Model.Orcamentos.Add(orca);
        StateHasChanged();
    }

    orcamento? askDeleteOrca = null;
    void AskDeleteRow(orcamento orca)
    {
        askDeleteOrca = orca;
        StateHasChanged();
    }
    void DeleteRow(bool confirm)
    {
        if (confirm)
            Model.Orcamentos.Remove(askDeleteOrca);
        askDeleteOrca=null;
        StateHasChanged();
    }
    void EquipamentoChanged() {

    }
}