@page "/NotasVenda/Index"
@using ProSoft.Data
@using Microsoft.EntityFrameworkCore
@using ProSoft.Components

<GenericTemplate3 TItem=notavenda Contexto="ctx" HeaderTitle="Notas de Venda" Items="ctx.notasvenda" ModalSize="modal-xl" OnSubmit="Submit">
    <GridHeaderTemplate>
        <td>Id</td><td>Data</td><td>Cliente</td>
    </GridHeaderTemplate>
    <GridRowTemplate>
        <td>@context.IdNotaVenda.ToString("000000")</td>
        <td>@context.Data.ToShortDateString()</td>
        <td>@context.Cliente?.Nome</td>
    </GridRowTemplate>
    <ItemEditForm>
        <NotaVenda idNotaVenda="context.IdNotaVenda" />
    </ItemEditForm>
</GenericTemplate3>

@code {
    Contexto ctx = new Contexto();

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    void Submit(notavenda item)
    {
        if (item.IdNotaVenda == 0)
            ctx.notasvenda.Add(item);
        ctx.SaveChanges();
    }
}
