@page "/NotasVenda/Parcela"

@using ProSoft.Data
@using ProSoft.Components
@using Microsoft.EntityFrameworkCore

<td width="10%"><RadzenDatePicker @bind-Value="Vencimento" /></td>
<td width="10%"><RadzenDatePicker @bind-Value="Model.Valor"  /></td>
<td>
    <RadzenButton Icon="delete" Click=@(args => AskDeleteParcela(args) ) />
</td>

@code {
    [Parameter] public contaareceber Model { get; set; } = default!;
    [Parameter] public Action<contaareceber>? OnDelete { get; set; } = null;
    [Parameter] public EventCallback<float> OnTotalChanged { get; set; }

    DateTime? Vencimento
    {
        get { return Model.Vencimento; }
        set { Model.Vencimento = value ?? DateTime.Today; }
    }

    async void AskDeleteParcela(MouseEventArgs args)
    {
        /*
        */
    }
}