@page "/NotasVenda/Venda_row"

@using ProSoft.Data
@using Microsoft.EntityFrameworkCore
@using ProSoft.Components

<td width="10%"><FluentNumberField @bind-Value="Model.Quantidade" /></td>
<td width="10%"><FluentTextField Value="@Model.Compra?.Mercadoria?.Unidade" Disabled=true /></td>

<td>

    <Dropdown2 TItem="compra" @bind-Value=Model.Compra TextProperty="Descricao" GetItems="()=>ctx.compras" OnChange="(i)=>Model.Compra=i" OnDelete="(c,i)=>{c.Remove(i);c.SaveChanges();}" >
    </Dropdown2>

</td>

<td width="10%"><FluentNumberField Value="@Model.Compra?.Venda" Disabled=true /></td>
<td width="10%"><FluentNumberField @bind-Value="Model!.Desconto" ></FluentNumberField></td>
<td width="10%"><FluentNumberField Value="@Total()" Disabled=true /></td>

@code {
    [Parameter] public venda Model { get; set; } = new();
    [Parameter] public Action<float>? TotalChanged { get; set; } = null;
    [Parameter] public Func<compra[]>? OnNeedCompras { get; set; } = null;
    [CascadingParameter(Name="ctx")] public Contexto ctx {get;set;} = default!;

    float _total = 0;
    float Total()
    {
        float t = Model.Quantidade * (Model.Compra?.Venda ?? 0) - Model.Desconto;
        if (t != _total)
        {
            _total = t;
            TotalChanged?.Invoke(_total);
        }
        return _total;
    }
    void CompraChanged(object args) {
        Model.Compra = ctx.compras.FirstOrDefault(K=>K.IdCompra == Model.Compra_IdCompra);
    }
}